<div style="text-align: center">
  <div style="display: inline-block; text-align: left;font-weight:bold; font-size:20px; -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: gray;" class="card card-body mb-4">
    <p>
      <strong>Title:</strong>
      <%= @dashboard.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @dashboard.description %>
    </p>

    <p>
      <strong>Position:</strong>
      <%= @dashboard.position %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @dashboard.user.username %>
    </p>
    <div class="btn-group">
      <%= link_to 'Edit', edit_dashboard_path(@dashboard), class: "btn btn-info btn-sm"  %>
      <%= link_to 'Back', dashboards_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>